{% extends "base.html" %}
{% load webpack_static from webpack_loader %}
{% load markdown_deux_tags %}
{% load render_html from core %}

{% block page_title_full %}{{ siteinfo.name }}{% endblock %}
{% block page_description %}{% if flatpage.metadata %}{{ flatpage.metadata.description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block page_keywords %}{% if flatpage.metadata %}{{ flatpage.metadata.keywords }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<section class="hero v-home__hero">
    <img
        srcset="
            {% webpack_static "img/street@3x.jpg" %} 2880w,
            {% webpack_static "img/street@2x.jpg" %} 1920w,
            {% webpack_static "img/street@1x.jpg" %} 960w,
            {% webpack_static "img/street@0.5x.jpg" %} 480w"
        src="{% webpack_static "img/street@1x.jpg" %}"
        class="v-home__hero-media" />
    <div class="row">
        <div class="small-12 columns">
            <h1 class="hero__headline">Nacházíte se v obtížné životní situaci?</h1>
            <p class="hero__caption">V životě každého z nás se děje ledacos. Pomůžeme vám vyznat se v džungli českého sociálního systému.</p>
            <p><a href="{% url 'core:benefit-claim' %}" class="hero__cta button primary large inverted">Na co mohu mít nárok?</a></p>
        </div>
    </div>
    <a href="#v-home__sidenotes" class="v-home__sidenotes-scroll js-smooth-scrollto"><i class="fas fa-arrow-circle-down"></i></a>
</section>

<div class="page page--nopad" id="v-home__sidenotes">
    <div class="v-home__sidenotes">
        {% render_html flatpage.content %}
    </div>

    <section class="v-home__about">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="t-h3-main v-home__about-headline">Kdo za tímto projektem stojí?</h2>
            </div>
            <div class="small-12 medium-8 medium-offset-2 columns">
                <div class="productleader">
                    <div class="productleader__basics">
                        <a href="https://www.olgarichterova.cz" target="_blank" rel="noopener">
                            <img class="productleader__avatar" src="{% webpack_static "img/olga-richterova-624x624.jpg" %}" alt="PhDr. Olga Richterová, PhD.">
                        </a>
                        <h3 class="productleader__name"><a href="https://www.olgarichterova.cz" class="t-anchor" target="_blank" rel="noopener">PhDr. Olga Richterová, PhD.</a></h3>
                        <h4 class="productleader__job">poslankyně za Piráty</h4>
                    </div>
                    <div class="productleader__about">
                        <p>
                            PhDr. Olga Richterová, PhD. (* 21. ledna 1985), poslankyně Parlamentu ČR za Piráty.
                            Je místopředsedkyní Výboru pro sociální politiku, členkou Výboru zdravotního a Stálé komise pro rodinu, rovné příležitosti a národnostní menšiny. Věnuje se také problematice dostupného bydlení.
                        </p>
                        <p>
                            <a href="http://www.bydlimevsichni.cz" class="t-anchor" target="_blank" rel="noopener">www.bydlimevsichni.cz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
