psycopg2-binary
Django
dsnparse
django-webpack-loader
django-markdownx
django-markdown-deux
django-menu
django-capture-tag
django-htmlmin
gunicorn
pyaml
-e git://github.com/disqus/django-bitfield.git@master#egg=django-bitfield
