.v-benefit-overview__line {
    margin-bottom: .5rem;
}

.v-benefit-overview__benefit-officebadge {
    background: map-get($custom-palette, accent-main);
    padding: 0 .5rem;
    color: $white;

    @include headerStyle('h6', main);
}
