.v-benefit-claim__divider {
    margin: 2.5rem 0 4rem;
}

.v-benefit-claim__noresults {
    margin: 4rem 0;
}

.v-benefit-claim__instructions {
    margin-bottom: 4rem;
    @include headerStyle('h5');
}

.v-benefit-claim__resultwarn {
    @include headerStyle('h6', alt);
}
