.button {
    &:not(.no-trans) {
        transform: scale(1);
        transition: transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        &:hover {
            transform: scale(1.05);
        }
    }

    @include breakpoint(small down) {
        width: 100%;
    }

    @include headerStyle('h6', main);

    &.large {
        @include headerStyle('h5', main);
    }

    &.inverted,
    &.inverted:hover {
        background: map-get($foundation-palette, secondary);
        color: map-get($foundation-palette, primary);

        &.bordered {
            border: 1px map-get($foundation-palette, primary) solid;
        }
    }
}
