.button {
    transform: scale(1);
    transition: transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);

    &:hover {
        transform: scale(1.05);
    }

    @include breakpoint(small down) {
        width: 100%;
    }
}
