.productleader {
    display: flex;

    @include breakpoint(medium down) {
        flex-direction: column;
    }
}

.productleader__avatar {
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
}

.productleader__basics {
    flex-shrink: 0;
    text-align: center;
    margin-right: 3rem;
}

.productleader__about {
    margin-top: 2rem;
    font-size: 1.1rem;

    @include breakpoint(large up) {
        font-size: 1.2rem;
        margin-top: 0;
    }
}

.productleader__name {
    margin: 1rem 0 0;

    @include headerStyle('h5', sub);

    @include breakpoint(medium up) {
        @include headerStyle('h4', sub);
    }
}

.productleader__job {
    margin: 0;

    @include headerStyle('h5', alt);

    @include breakpoint(medium up) {
        @include headerStyle('h4', alt);
    }
}
