.radio-button {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 0;

    li {
        margin: 0 .5rem 1rem 0;
    }

    input {
        opacity: 0;
        position: absolute;

        &:checked ~ .input__label {
            background-color: map-get($foundation-palette, primary);
        }
    }

    .input__label {
        padding: .5rem 1rem;
        background-color: map-get($custom-palette, accent-main);
        color: $white;
        font-weight: bold;
        transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    label {
        display: inline-block;
        cursor: pointer;
        user-select: none;
    }
}
