{% load render_bundle webpack_static from webpack_loader %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{% block page_title_full %}{% block page_title %}{% endblock %} | {{ siteinfo.name }}{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{{ siteinfo.description }}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}{% endblock %} {{ siteinfo.keywords | join:' ' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% render_bundle 'main' 'css' %}
</head>
<body class="layout">
    <!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
    <!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page -->
    <header role="banner" class="sitenav">
        <div class="row">
            <div class="small-12 columns">
                <nav role="navigation" class="sitenav-groups">
                    <div class="sitenav-groups__group sitenav-groups__group--main sitenav-brand">
                        <div class="sitenav-brand__logo">
                            <a href="/"><img src="{% webpack_static "img/brand/logo_napis.svg" %}"></a>
                        </div>
                        <div class="sitenav-brand__site sitenav-site">
                            <h1 class="sitenav-site__main"><a href="/">{{ siteinfo.name }}</a></h1>
                            <h2 class="sitenav-site__sub">{{ siteinfo.claim }}</h2>
                        </div>
                    </div>
                    <a class="sitenav-groups__group button primary show-for-medium" href="{% url 'core:benefit-claim' %}">Zjistit můj nárok</a>
                </nav>
            </div>
        </div>
    </header>

    <main role="main" class="layout__main">
        {% block content %}{% endblock %}
    </main>

    <!-- The main page footer can contain items such as copyright and contact information. It can also contain a duplicated navigation of your site which is not usually contained within a <nav> -->
    <!-- ARIA: the landmark role "contentinfo" is added here as it contains metadata that applies to the parent document -->
    <footer role="contentinfo" class="footer">
        <div class="row footer__main footer-nav">
            <div class="small-12 medium-4 columns">
                <a href="/"><img src="{% webpack_static "img/brand/logo_napis_white.svg" %}" alt="" class="footer__brand"></a>
                <h3 class="t-h5-sub">{{ siteinfo.name }}</h3>
                <ul class="no-bullet">
                    <li><a href="mailto:{{ siteinfo.email }}">{{ siteinfo.email }}</a></li>
                    <li><a href="tel:{{ siteinfo.phone }}">{{ siteinfo.phone }}</a></li>
                </ul>
            </div>
            <div class="small-12 medium-4 columns">
                <h3 class="footer-nav__headline">Další informace</h3>
                <ul class="no-bullet">
                    <li><a href="{% url 'core:benefit-overview' %}">Orientační přehled dávek</a></li>
                    <li><a href="">Výpočet životního minima</a></li>
                    <li><a href="">Rizikové skupiny</a></li>
                    <li><a href="">Zdroje</a></li>
                </ul>
            </div>
            <div class="small-12 medium-4 columns">
                <h3 class="footer-nav__headline">Nástroje</h3>
                <ul class="no-bullet">
                    <li><a href="">Kalkulačka sociálních dávek</a></li>
                    <li><a href="">Integrovaný portál MPSV</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__sub">
            <div class="row">
                <div class="small-12 columns">
                    <span class="u-mirror-horizontally">©</span>&nbsp;Piráti,&nbsp;{% now "Y" %}. Všechna práva vyhlazena. Sdílejte a nechte ostatní sdílet za stejných podmínek.
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns footer__social">
                    <a href="{{ siteinfo.fb_profile_url }}"><i class="fab fa-facebook"></i></a>
                    <a href="{{ siteinfo.twitter_profile_url }}"><i class="fab fa-twitter"></i></a>
                    <a href="{{ siteinfo.instagram_profile_url }}"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>

    {% render_bundle 'main' 'js' %}
</body>
</html>
