{% load render_bundle webpack_static from webpack_loader %}


<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">

    <title>HTML5 Bones :: PAGE TITLE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% render_bundle 'main' 'css' %}
</head>
<body>

    <!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
    <!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page -->
    <header role="banner" class="sitenav">
        <div class="row">
            <div class="small-12 columns">
                <nav role="navigation" class="sitenav-groups">
                    <div class="sitenav-groups__group sitenav-groups__group--main sitenav-brand">
                        <div class="sitenav-brand__logo">
                            <a href="/"><img src="{% webpack_static "img/brand/logo_napis.svg" %}"></a>
                        </div>
                        <div class="sitenav-brand__site sitenav-site">
                            <h1 class="sitenav-site__main"><a href="/">Socialnisystem.cz</a></h1>
                            <h2 class="sitenav-site__sub">pomocník pro vaši orientaci v džungli sociálního systému</h2>
                        </div>
                    </div>
                    <a class="sitenav-groups__group button primary">Zjistit můj nárok</a>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <!-- The main page footer can contain items such as copyright and contact information. It can also contain a duplicated navigation of your site which is not usually contained within a <nav> -->
    <!-- ARIA: the landmark role "contentinfo" is added here as it contains metadata that applies to the parent document -->
    <footer role="contentinfo">
        <div class="row">
            <div class="small-12 columns">
                <!-- The <address> element contains contact information for the nearest <article> or <body> element. This example is for the <body> -->
                <address>
                <p>For further information, please contact <a href="mailto:admin@example.com">Max Mustermann</a>.</p>
                </address>

                <!-- Copyright information can be contained within the <small> element. The <time> element is used here to indicate that the '2018' is a date -->
                <small>Copyright &copy; <time>2018</time></small>
            </div>
        </div>
    </footer>

    {% render_bundle 'main' 'js' %}
</body>
</html>
