{% extends "page.html" %}
{% load markdown_deux_tags %}

{% block page_title %}{{ object }}{% endblock %}
{% block page_description %}{{ object.base_description | markdown | striptags }}{% endblock %}

{% block header %}
    <div class="page__backnav">
        {% if back_link %}
            <a href="{{ back_link }}">&laquo; Zpět</a>
        {% else %}
            <a href="{% url 'core:benefit-overview' %}">Přehled dávek &raquo;</a>
        {% endif %}
    </div>
    <h1 class="page__headline">{{ object }}</h1>
    {% if object.related_law %}
    <div class="page__headline-sub v-benefit-detail__rellaw-wrap content-block">dle <div class="v-benefit-detail__rellaw">{{ object.related_law|markdown:"target_blank" }}</div></div>
    {% endif %}
{% endblock %}

{% block content_wrapper_classes %}v-benefit-detail row{% endblock %}

{% block article_classes %}small-12 medium-8 columns{% endblock %}

{% block article %}
    <div class="v-benefit-detail__desc content-block">
        {{ object.base_description | markdown }}
    </div>

    <div class="v-benefit-detail__claim content-block">
        <h2 class="t-h3">Kdo má nárok</h2>
        {{ object.claim_description | markdown }}
    </div>

    {% if object.other_description %}
        <div class="v-benefit-detail__other content-block">
            <h2 class="t-h3">Další informace</h4>
            {{ object.other_description | markdown }}
        </div>
    {% endif %}
{% endblock %}

{% block after_article %}
    <aside class="page__sidebar small-12 medium-4 columns">
        {% if object.context_description %}
            <div class="page__sidebar-body content-block">
                {{ object.context_description | markdown }}
            </div>
        {% endif %}
        {% with object.attachments.all as attachments %}
            {% if attachments %}
                <div class="page__sidebar-body content-block">
                    <h2 class="t-h3">Přílohy</h2>
                    <ul>
                        {% for attachment in object.attachments.all %}
                        <li><a href="{{ attachment.file.url }}">{{ attachment }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </aside>
{% endblock %}
