{% extends "page.html" %}

{% block headline %}{% block page_title %}Přehled dávek{% endblock %}{% endblock %}
{% block page_description %}Rychlý přehled všech dávek.{% endblock %}

{% block article %}
    <div class="v-benefit-overview cards row">
        {% for condition, benefits in life_conditions %}
            <section class="card small-12 middle-6 large-4 columns">
                <div class="card__body">
                    <div class="card__header">
                        <h2 class="t-h4 card__headline">{{ condition }}</h2>
                    </div>
                    <ul class="no-bullet">
                        {% for benefit in benefits %}
                        <li class="card__sub v-benefit-overview__line">
                            <div class="card__sub-header">
                                <h3 class="card__sub-headline t-h5-alt"><a href="{{ benefit.get_absolute_url }}">{{ benefit }}</a></h3>
                                <span class="v-benefit-overview__benefit-officebadge" title="{{ benefit.responsible_office.name }}">{{ benefit.responsible_office }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}
