{% extends "core/default.html" %}

{% block body %}
<!-- The <main> element is used to enclose the main content, i.e. that which contains the central topic of a document -->
<!-- ARIA: the landmark role "main" is added here as it contains the main content of the document, and it is recommended to add it to the
<main> element until user agents implement the required role mapping. -->
<main role="main">

    <!-- The <section> element can be used to enclose content that comes under a related heading.
    NOTE: The <section> element can contain <article> elements and vice versa, if you think the content warrants it. -->
    <section>

        <!-- This is the section's header. It contains the heading and navigation links for within the section -->
        <header>
            <h2>Getting Started</h2>
            <!-- ARIA: the landmark role "navigation" is added here as the element contains page navigation -->
            <nav role="navigation">
                <ul>
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#instructions">Instructions</a></li>
                </ul>
            </nav>
        </header>

        <!-- The <article> element can be used to enclose content that still makes sense on its own and is therefore "reusable" -->
        <article id="introduction">

            <!-- A <header> element is not required here as the heading only contains a single <h3> element -->
            <h3>Introduction</h3>

            <!-- Content -->
            <p>Welcome to <abbr title="HyperText Markup Language 5">HTML5</abbr> Bones. This is a template that contains comments to aid you with setting up your <abbr title="HyperText Markup Language 5">HTML5</abbr> document.</p>

        </article>

        <!-- The <article> element can be used to enclose content that still makes sense on its own and is therefore "reusable" -->
        <article id="instructions">

            <!-- A <header> element is not required here as the heading only contains a single <h3> element -->
            <h3>Instructions</h3>

            <!-- Content -->
            <ol>
                <li>Read the comments in this template</li>
                <li>Decide how you think your content may fit into the template</li>
                <li>Start building your document</li>
            </ol>

        </article>

    </section>

</main>
{% endblock %}
