{% extends "base.html" %}
{% load webpack_static from webpack_loader %}

{% block page_title_full %}{{ siteinfo.name }}{% endblock %}

{% block content %}
<section class="hero">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="hero__headline">Nacházíte se v obtížné životní situaci?</h1>
            <p class="hero__caption">V životě každého z nás se děje ledacos. Pomůžeme vám vyznat se v džungli českého sociálního systému.</p>
            <p><a href="{% url 'core:benefit-claim' %}" class="hero__cta button primary large">Zjistit na co mám nárok</a></p>
        </div>
    </div>
</section>

<div class="page">
    <section class="row">
        <div class="small-12 medium-6 columns">
            <h2 class="t-h4-sub">Jak se vyznat v sociálním systému?</h2>
            <ul>
                <li>Nevyznáte se v českém systému dávek?</li>
                <li>Myslíte si, že máme v ČR sociálních dávek příliš mnoho?</li>
                <li>Nebo vám naopak v systému něco chybí?</li>
                <li>Chcete se zapojit do diskuze o změnách v tomto systému?</li>
            </ul>
            <p>Potom právě Vás bude patrně zajímat tento web.</p>
        </div>
        <div class="small-12 medium-6 columns">
            <h2 class="t-h4-sub">Výchozí situace</h2>
            <p>V současné době (srpen 2018) je jedna z nejnižších úrovní nezaměstnanosti na světě právě u nás. I přesto je více než 200 000 lidí registrováno na Úřadě práce jako nezaměstnaní (v červenci 2018 to bylo 211 tisíc!).</p>
            <p>Úřad práce však kromě nezaměstnaných eviduje také lidi v hmotné nouzi, zdravotně postižené podstupující pracovní rehabilitaci či posuzování zdravotního stavu pro uznání invalidity nebo pěstouny a rodiče malých dětí. Byť se tyto skupiny občas vzájemně prolínají, rozhodně ne všichni, kdo chodí na Úřad práce, jsou nezaměstnaní a mohou pracovat.</p>
        </div>
        <div class="small-12 medium-6 columns">
            <h2 class="t-h4-sub">Kdo má na co nárok?</h2>
            <p>Na co vše má kdo nárok mnozí nevědí. Stejně tak je řada dávek nastavená demotivačně: je snazší je pobírat a zůstat v závislosti na solidaritě ostatních, než se postupně osamostatňovat (systém to ztěžuje). Proto vznikl tento přehled současného stavu, který obsahuje i navrhované cesty vpřed, jež Piráti diskutují s odborníky i širokou veřejností.</p>
        </div>
        <div class="small-12 medium-6 columns">
            <h2 class="t-h4-sub">Cíl tohoto webu</h2>
            <p>Chceme poskytnout ucelený přehled sociálních dávek v ČR a zahájit diskuzi potřebnou pro práci Pirátů v této oblasti v Poslanecké sněmovně.</p>
            <p>Celý web je členěn na tematické části poskytující přehled životních situací, v nichž lidé potřebují pomoc. Popis je doplněn možnými návrhy řešení.</p>
        </div>
    </section>

    <section class="v-about">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="t-h3-sub v-about__headline">Kdo za tímto projektem stojí?</h2>
            </div>
            <div class="small-12 medium-8 medium-offset-2 columns">
                <div class="productleader">
                    <div class="productleader__basics">
                        <img class="productleader__avatar" src="{% webpack_static "img/olga-richterova-150x150.jpg" %}" alt="PhDr. Olga Richterová, PhD.">
                        <h3 class="productleader__name">PhDr. Olga Richterová, PhD.</h3>
                        <h4 class="productleader__job">poslankyně za Piráty</h4>
                    </div>
                    <div class="productleader__about">
                        <p>PhDr. Olga Richterová, PhD. (* 21. ledna 1985) je poslankyně Parlamentu ČR za Piráty.</p>
                        <p>Je místopředsedkyní Výboru pro sociální politiku, členkou Výboru zdravotního a Stálé komise pro rodinu, rovné příležitosti a národnostní menšiny. Věnuje se také problematice dostupného bydlení.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
